<polymer-element name="prm-dropdown" attributes="label options">
<template>

  <link rel="stylesheet" href="prm-dropdown.css">

  <div id="dropdownContainer" center horizontal layout>
      <div id="dropdownLabel">{{label}}</div>
      <select id="dropdownSelect" selectedIndex="{{selectedIndex}}">
        <option template repeat="{{options}}">{{}}</option>
      </select>
  </div>

</template>
<script>

  Polymer('prm-dropdown', {
    label: "",
    options: [],
    selectedIndex: 0,
    selectedValue: "",

    domReady: function() {
        this.selectedValue = this.$.dropdownSelect[this.selectedIndex].text;
    },

    selectedIndexChanged: function() {
        console.log("dropdown firing currentIndexChanged!");
        this.selectedValue = this.$.dropdownSelect[this.selectedIndex].text;
        this.fire('change');
    }

  });

</script>
</polymer-element>
