:host {
    display: inline-block;
    padding-bottom: 15px;
}

#dropdownLabel {
    padding-right: 10px;
    width: 80px;
    text-align: left;
}

#dropdownSelect {
    margin-left: 13px;
    padding: 3px;
    height: 26px;
    border: 2px solid #c8c8c8;
    border-radius: 8px;
    outline: 0;
}