<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../font-roboto/roboto.html">
<link rel="import" href="../prm-labeled-slider/prm-labeled-slider.html">
<link rel="import" href="../core-pages/core-pages.html">
<link rel="import" href="../paper-shadow/paper-shadow.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">

<polymer-element name="prm-palette">
<template>
    <style>
        #paletteContainer {
            position: relative;
            float: right;
            width: 380px;
            height: 300px;
            top: 10px;
            right: 10px;
            font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-touch-callout: none;
        }

        /* light theme */
        #paletteContainer.light-theme{
            background: #fff;
        }

        .light-theme paper-tabs {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
        }

        .light-theme paper-tabs::shadow {
            background-color: #fff;
            color: #03a9f4;
        }

        .light-theme paper-tabs::shadow #selectionBar {
            background-color: #03a9f4;
        }

        .light-theme prm-labeled-slider /deep/ #sliderKnobInner,
        .light-theme prm-labeled-slider /deep/ #sliderBar::shadow #activeProgress,
        .light-theme prm-labeled-slider /deep/ #secondaryProgress,
        .light-theme paper-input /deep/ .focusedColor {
            background-color: #03a9f4;
        }
        /* dark theme */
        #paletteContainer.dark-theme {
            background: #1f1f1f;
            border: 1px solid #444444;
        }

        .dark-theme paper-tabs {
            box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3);
        }

        .dark-theme paper-tabs::shadow {
            background-color: #303030;
            color: #03a9f4;
        }

        .dark-theme paper-tabs::shadow #selectionBar {
            background-color: #03a9f4;
        }

        .dark-theme prm-labeled-slider /deep/ #sliderLabel,
        .dark-theme prm-labeled-slider /deep/ #input {
            color: #eee;
        }

        .dark-theme prm-labeled-slider /deep/ #sliderKnobInner,
        .dark-theme prm-labeled-slider /deep/ #sliderBar::shadow #activeProgress,
        .dark-theme prm-labeled-slider /deep/ #secondaryProgress,
        .dark-theme paper-input /deep/ .focusedColor{
            background-color: #03a9f4;
        }

        .dark-theme prm-labeled-slider /deep/ #sliderKnob.ring > #sliderKnobInner {
            background-color: #222222;
        }

        .dark-theme prm-labeled-slider /deep/ #progressContainer {
            background-color: #757575;
        }

        /* common properties (for all themes) */
        paper-tabs::shadow #selectionBar {
            height: 4px;
        }

        core-pages div {
            padding: 10px 20px 20px 20px;
        }

    </style>

<div id="paletteContainer" class="dark-theme">
    <paper-shadow z="1"></paper-shadow>

    <paper-tabs selected="{{page}}" noink>
        <paper-tab>First Tab</paper-tab>
        <paper-tab>Second Tab</paper-tab>
    </paper-tabs>

    <core-pages selected="{{page}}">
        <div> <!-- page 0 -->
            <prm-labeled-slider id="slider0" label="integer slider" min="0" max="50"></prm-labeled-slider>
            <prm-labeled-slider id="slider1" label="fractional slider" min="10" max="30" step="0.01"></prm-labeled-slider>
            <prm-labeled-slider id="slider2" label="another slider"></prm-labeled-slider>
        </div>
        <div> <!-- page 1 -->
            <prm-labeled-slider id="slider3" label="third slider"></prm-labeled-slider>
        </div>
    </core-pages>
</div>

</template>
<script>
    Polymer('prm-palette', {page:0});
</script>
</polymer-element>
